@media (max-width: 600px) {
    div[role="main"] {
        padding-top: 2em;
    }
    div[role="complementary"]{
        display: none;
      
    }
   
}

footer.container img{
    max-width: 16px;
}
